<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="ISO-8859-1">
		<title>Home</title>
		
		<head th:fragment="css">
			<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
		</head>
		
		<head th:fragment="js">
			<script th:src="@{/js/bootstrap.min.js}"></script>
		</head>
	</head>
	
	<body>
		<nav th:fragment="successAdd" class="navbar navbar-expand-lg navbar-dark bg-dark">
			<a class="navbar-brand" href="#">DATA ADDED</a>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active">
						<a class="nav-link" th:href="@{/}">Home</a>
					</li>
				</ul>
			</div>
		</nav>
		
		<nav th:fragment="addFlight" class="navbar navbar-expand-lg navbar-dark bg-dark">
			<a class="navbar-brand" href="#">ADD FLIGHT</a>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active">
						<a class="nav-link" th:href="@{/}">Home</a>
					</li>
				</ul>
			</div>
		</nav>
		
		<nav th:fragment="addPilot" class="navbar navbar-expand-lg navbar-dark bg-dark">
			<a class="navbar-brand" href="#">ADD PILOT</a>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active">
						<a class="nav-link" th:href="@{/}">Home</a>
					</li>
				</ul>
			</div>
		</nav>
		
		<nav th:fragment="deleteSuccess" class="navbar navbar-expand-lg navbar-dark bg-dark">
			<a class="navbar-brand" href="#">DELETE SUCCESS</a>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active">
						<a class="nav-link" th:href="@{/}">Home</a>
					</li>
				</ul>
			</div>
		</nav>
		
		<nav th:fragment="navbar" class="navbar navbar-expand-lg navbar-dark bg-dark">
			<a class="navbar-brand" href="#">APAP</a>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active">
						<a class="nav-link" th:href="@{/}">Home</a>
					</li>
				</ul>
			</div>
		</nav>
		
		<nav th:fragment="updateFlight" class="navbar navbar-expand-lg navbar-dark bg-dark">
			<a class="navbar-brand" href="#">UPDATE FLIGHT</a>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active">
						<a class="nav-link" th:href="@{/}">Home</a>
					</li>
				</ul>
			</div>
		</nav>
		
		<nav th:fragment="updatePilot" class="navbar navbar-expand-lg navbar-dark bg-dark">
			<a class="navbar-brand" href="#">UPDATE PILOT</a>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active">
						<a class="nav-link" th:href="@{/}">Home</a>
					</li>
				</ul>
			</div>
		</nav>
		
		<nav th:fragment="updateSuccess" class="navbar navbar-expand-lg navbar-dark bg-dark">
			<a class="navbar-brand" href="#">UPDATE SUCCESS</a>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active">
						<a class="nav-link" th:href="@{/}">Home</a>
					</li>
				</ul>
			</div>
		</nav>
		
		<nav th:fragment="viewFlight" class="navbar navbar-expand-lg navbar-dark bg-dark">
			<a class="navbar-brand" href="#">VIEW FLIGHT</a>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active">
						<a class="nav-link" th:href="@{/}">Home</a>
					</li>
				</ul>
			</div>
		</nav>
		
		<nav th:fragment="viewPilot" class="navbar navbar-expand-lg navbar-dark bg-dark">
			<a class="navbar-brand" href="#">VIEW PILOT</a>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active">
						<a class="nav-link" th:href="@{/}">Home</a>
					</li>
				</ul>
			</div>
		</nav>
	</body>
</html>